:root {
  --tek_mat_orange: #ff4f0f;

}


body {
  margin: 0;
  padding: 0;
}

#header_photo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#title_holder {
  display: flex;
  flex-direction: column;
}

#logo {
  width: 7em;
  height: 7em;
}

header {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: var(--tek_mat_orange);
  padding-top: 1em;
  padding-bottom: 0px;
}

#header_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  font-size: 1.5em;
  padding-top: 1em;
}

#current_page {
  border-style: solid;
  border-width: 0 0 3px 0px;
  border-color: var(--tek_mat_orange);
}

.header_button {
  padding: 0.4em;
  
}

main {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  padding-top: 2em;
  padding-bottom: 5em;
  padding-left: 10em;
  padding-right: 10em;
}

footer {
  background-color: var(--tek_mat_orange);
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
}



a {
  color: var(--tek_mat_orange);
  text-decoration: none;
}

h1  {
  font-size: 4.5vw;
}

h2 {
  font-size: 3.5vw;
}

h3 {
  font-size: 2.5vw;
}

h4 {
  font-size: 1.8vw;
}

.portrait_text h4, h3 {
  margin:0;
  margin-bottom: 0.4em;
}


footer a {
  color: black;
  font-size: 1.4vw;
  padding-top: 0.4em;
}

#footer_links {
  display: flex;
  flex-direction: column;
}

#instagram {
  width: 3vw;
  height: 3vw;
}

#nemo {
  scale: 0.5;
  margin: -10em;
}

.footer_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Kanske onödigt?*/
/*
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/


.class_image {
  max-width: 100%;
  height: auto;
  float: left;
}

.class_image_container {
  margin-bottom: 5em;
}

.class_portrait_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 5em;
  border: 0.2em solid black;
  padding: 1em;
  border-radius: 1em;
}

.portrait {
  max-width:50%;
  height: auto;
  float: left;
}

p, li {
  font-family: 'Roboto Slab', serif;
  font-size:1.4vw;
}


 .credit {
  font-size: 1vw;
  margin-top: 0.5vw;
  
}

footer a:hover {
  font-style: italic;
}

.class_container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.roman {
  list-style-type: upper-roman; 
}

.roman li {
  font-size: 1.4vw;
  padding-bottom: 1em;
}

.motto {
  font-style: italic;
  display: flex;
  padding-left: 5em;
}